<header class="header-area">
  <h4>
    Generate SQL Insert,Update and Delete statements quickly!
  </h4>
</header>

<div class="container input-sql-area">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="generateSqlStatement()">
        <div class="card">
          <div class="card-header  d-flex align-items-center justify-content-between">
            <h6 class="pull-left m-0"><i class="fa fa-code" aria-hidden="true"></i> &nbsp;Enter SQL insert statements</h6>
            <div class="pull-right sql-type">
              <label class="radio-inline">
                <input type="radio" (change)="generateSqlStatement()" [(ngModel)]="sqlType" value="S" name="sqlType">
                SQL
              </label>
              <label class="radio-inline">
                <input type="radio" value="J" (change)="generateSqlStatement()" [(ngModel)]="sqlType" name="sqlType">
                Java - SQL
              </label>
            </div>
          </div>
          <div class="card-body">
            <textarea spellcheck="false" class="form-control input-sql" (keyup)="objectIdentify()" name="inputSql" id=""
              [(ngModel)]="inputUserSql"></textarea>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn bg-primary text-white btn-generate">Generate SQL</button>
          </div>
        </div>
      </form>

      <div class="identify-field" *ngIf="tableName">Table Name : {{tableName}}</div>
      <div class="identify-field" *ngIf="columnNameList">Column Name : {{columnNameList}}</div>
      <div class="identify-field" *ngIf="inputSequence">Sequence Name : {{inputSequence}}</div>
    </div>
    <div class="col-md-6">
      <div>
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h6 class="pull-left m-0">Insert statement</h6>
            <div class="textarea-copy-all" placement="top" ngbTooltip="Copy All" (click)="copyInputMessage(allSql)"><i
                class="fa fa-clone" aria-hidden="true"></i></div>
            <div class="textarea-copy" placement="top" ngbTooltip="Copy" (click)="copyInputMessage(insertsql)"><i
                class="fa fa-clone" aria-hidden="true"></i></div>
          </div>
          <div class="card-body">
            <textarea #insertsql spellcheck="false" class="form-control insert-statement-field" [(ngModel)]="insertStatementSql"></textarea>
            <textarea #allSql spellcheck="false" class="all-sql-hide-field" [(ngModel)]="allStatementSql"></textarea>
          </div>
        </div>
        <!--/.card-->
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h6 class="pull-left m-0">Update statement</h6>
            <div class="textarea-copy " placement="top" ngbTooltip="Copy" (click)="copyInputMessage(updatesql)"><i
                class="fa fa-clone" aria-hidden="true"></i></div>
          </div>
          <div class="card-body">
            <textarea #updatesql spellcheck="false" id="" class="form-control update-statement-field" [(ngModel)]="updateStatementSql"></textarea>
          </div>
        </div>
        <!--/.card-->
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h6 class="pull-left m-0">Delete statement</h6>
            <div class="textarea-copy" placement="top" ngbTooltip="Copy" (click)="copyInputMessage(deletesql)"><i
                class="fa fa-clone" aria-hidden="true"></i></div>
          </div>
          <div class="card-body">
            <textarea #deletesql spellcheck="false" id="" class="form-control delete-statement-field" [(ngModel)]="deleteStatementSql"></textarea>
          </div>
        </div>
        <!--card-->
      </div>
    </div>
  </div>
</div>