<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="" class="navbar-brand">badrul.me</a></div>

    <ul class="navbar-nav">
      <li><a routerLink="/home" class="nav-link">Home</a></li>
      <li><a  routerLink="/sql-generator" class="nav-link">SQL</a></li>
      <li><a  routerLink="/sql-editor" class="nav-link">Editor</a></li>
      <!-- <li><a  routerLink="/case-converter" class="nav-link">Case Converter</a></li> -->
    </ul>

    <!-- <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul> -->
  </nav>
</header>