.input-sql {
    min-height: 250px;
}


.input-sql-area textarea {
    font-size: 15px;
}

.insert-statement-field,
.update-statement-field {
    min-height: 130px;
}

.delete-statement-field {
    height: 55px;
}

.identify-field {
    color: #495057;
    font-size: 15px;
    word-wrap: break-word;
}

.sql-type {
    float: right;
    font-size: 14px;
    color: #818a91;
    padding-top: 6px;
}

.sql-type label {
    margin-left: 10px;
}

.textarea-copy-all {
    float: left;
    cursor: pointer;
    border-radius: .25rem;
    color: #818a91;
}
.textarea-copy-all:hover {
    color: #3b3d3d;
}
.all-sql-hide-field {
    height: .1px;
    width: .1px;
    position: absolute;
    left: -999px;
}
