<header class="header-area">
  <h4>
    Run SQL & PL/SQL scripts into your Databse
  </h4>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header  d-flex align-items-center justify-content-between">
          <h6 class="pull-left m-0"><i class="fa fa-code"  aria-hidden="true"></i> &nbsp;Enter SQL, PL/SQL Scripts </h6>
        </div>
        <div class="card-body">
          <textarea spellcheck="false" [(ngModel)]="userScripts" name="userScripts"
            class="script-runner-filed form-control"></textarea>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-2"><button type="submit" (click)="onClickRunScript(userScripts)"
                class="btn bg-primary text-white btn-generate"><i class="fa fa-play-circle"></i> Run </button></div>
            <div class="col-md-10"><textarea class="form-control " style="height: 38px;font-size: 14px" name="" id=""
                spellcheck="false" class=" form-control" [(ngModel)]="scriptRunnerResponse"></textarea></div>
          </div>


        </div>
      </div>
      <!-- End card-->
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header  d-flex align-items-center justify-content-between">
          <h6 class="pull-left m-0"><i class="fa fa-database"></i> &nbsp;Database Lists</h6>
        </div>
        <div class="card-body">

          <table class="table table-bordered table-striped table-hover table-sm text-secondary">

            <thead>
              <tr>
                <th class="text-center" style="width:36px" cope="col"><input type="checkbox"></th>
                <th style="font-size: 14px;" cope="col">Schema Name</th>
                <th class="text-center" style="width:36px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sc of schemaLists; let i = index">
                <td class="text-center">
                  
                  <!-- <input type="checkbox" value="1" checked> -->
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="chk-{{i}}" class="custom-control-input">
                      <label  for="chk-{{i}}" class="custom-control-label">&nbsp;</label>
                    </div>
                </td>
                <td style="font-size: 15px;">{{sc.SCHEMA_NAME}}</td>
                <td class="text-center"><i style="cursor: pointer;" class="fa fa-eye"></i></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- End card-->
      </div>

    </div>

  </div>